* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* CONFIGURAÇÃO  GERAL */
body {
  background: #ffffff;
  height: 100vh;
  color: #311700ff;/*#76520E;*/
  font-size: 18px;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 0 0 0;
}

.flex {
  display: flex;
}



/* HEADER */
.logo {
width: 100%;
}

.menu {
padding: 15px 0;
/*   background-color: #efb810; */
background-image: linear-gradient(180deg, #fffa6c 0, #fbe546 25%, #edcf0c 50%, #dfb900 75%, #d3a400 100%);
}

.menu ul {
display: flex;
list-style-type: none;
justify-content: space-around;

}

.menu ul a {
text-decoration: none;
cursor: pointer;
/* color: rgb(190, 190, 9) /*#311700ff;*/
color: hwb(253 0% 0%);
padding: 10px 20px;
font-size: 20px;
font-weight: 600;
}

.menu ul a:hover {
color: rgb(255, 47, 0);

}


main{
  display: flex;
  align-items: center;
}

main h1, h2{
  text-align: center;
  padding: 0 50px;
}

main h1{
  padding-bottom: 100px;
  font-size: 100px;
}

main h2{
 line-height: 50px;
}


/* RODAPÉ */

footer {
background-color: #ddcfb2ff;
padding: 5px 50px;
}

.space {
display: flex;
justify-content: space-between;
}

.rodape_pascom img {
height: 50px;
}

.endereco {
text-align: center;
}