* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* CONFIGURAÇÃO  GERAL */
body {
  background: #ffffff;
  height: 100vh;
  color: #311700ff;
  font-size: 14px;
}

main {
  /*  max-width: 1280px; */
  margin: 0 auto;
  padding: 40px 4%;
}


/* HEADER */
.logo {
  width: 100%;
}

.menu {
  padding: 25px 0;
  background-color: #ddcfb2ff;
}

.menu ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;

}

.menu ul a {
  text-decoration: none;
  cursor: pointer;
  color: #311700ff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
}

.menu ul a:hover {
  color: #b28754ff;

}

/* BEM VINDOS */

.bem_vindos h1 {
  text-align: center;
  padding-bottom: 30px;
}

.bem_vindos p {
  text-align: justify;
  text-indent: 5%;
  line-height: 25px;
}

.bem_vindos li {
  line-height: 25px;
}

.bem_vindos {
  padding: 50px 0;
}

.bem_vindos h2,
h3 {
  padding-bottom: 30px;
}

/* FIM DO BEM-VINDOS */

.Nossas_pastorais h1,
h2 {
  text-align: center;
}

.Pastorais {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  gap: 30px;
  justify-content: center;
  height: auto;

}

.pastorais1 {
  border: solid 5px #311700ff;
  background-color: #ddcfb2ff;
  border-radius: 20px;
  width: 300px;
  text-align: center;
}

.pastorais1 h2 {
  text-align: center;
  padding: 20px 0;

}

.pastorais1 p {
  padding: 20px;
  text-align: justify;

}

.pastorais1 .solid {
  height: 180px;
}

.pastorais1 .Pascom {
  height: 180 px;
}


.Nossos_movimentos h1,
h2 {
  text-align: center;
}

.Movimentos {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  gap: 30px;
  justify-content: center;
  height: auto;
}

.movimentos1 {
  border: solid 5px #311700ff;
  background-color: #ddcfb2ff;
  border-radius: 20px;
  width: 300px;
  height: 200px;
  text-align: center;
}

.movimentos1 h2 {
  text-align: center;
  padding-bottom: 30px;

}

.movimentos1 p {
  padding: 20px;
  text-align: justify;

}

.movimentos1 .solid {
  height: 180px;
}

.movimentos1 .Pascom {
  height: 180 px;
}

/* RODAPÉ */


footer {
  background-color: #ddcfb2ff;
  padding: 5px 50px ;
}


.space {
  display: flex;
  justify-content: space-between;
}



.rodape_pascom img{
  height: 50px;
}

.endereco {
  text-align: center;
}
