* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #ffffff;
    height: 100vh;
    color: #311700ff;
    font-size: 14px;
}


/* HEADER */
.logo {
    width: 100%;
}

.menu {
    padding: 15px 0;
    /*   background-color: #efb810; */
    background-image: linear-gradient(180deg, #fffa6c 0, #fbe546 25%, #edcf0c 50%, #dfb900 75%, #d3a400 100%);
}

.menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;

}

.menu ul a {
    text-decoration: none;
    cursor: pointer;
    /* color: rgb(190, 190, 9) /*#311700ff;*/
    color: hwb(253 0% 0%);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
}

.menu ul a:hover {
    color: rgb(255, 47, 0);

}

/* FIM HEADER */


main {
    padding: 40px 4%;
}

.interface {
    max-width: 1280px;
    margin: 50PX auto;
}


.interface h2 {
    text-align: center;
    padding: 0 0 50PX 0;
}

.interface p {
    text-align: justify;
    color: #311700ff;
    text-indent: 3em;
    line-height: 30px;
}

.interface ul {
    text-align: justify;
    color: #311700ff;
    text-indent: 3em;
    line-height: 30px;
}

.flex {
    display: flex;
}


/* MOTIVA */

.motiva .mot img {
    width: 500px;
    border: solid 2px;
    padding: 20px;
    margin: 20px;
    float: right;
}


.lema {
    text-align: center;
    padding: 50px 0;
}

h2,
h3 {
    padding: 20px 0;
    color: #311700ff;
}

.logo_solidariedade {
    height: 300px;
    margin: auto;
    display: block;
}

p {
    text-align: justify;
}

.oracao {
    border: solid 2px;
    padding: 30px 0;
    margin: 0 200px;
    background-image: linear-gradient(180deg, #fffa6c 0, #fbe546 25%, #edcf0c 50%, #dfb900 75%, #d3a400 100%);
}

.oracao p,
h2 {
    text-align: center;
    line-height: 20px;
}

.santos {
    /*     display: flex;
 */
    align-items: center;
    margin: 0 50px;
    /*border: solid 2px yellowgreen;*/
}

.santos__img {
    width: 350px;
    /*border: solid 2px red;*/
    padding: 0 0 0 150px;
}

.santos__texto p {
    text-align: justify;
}

.santos__texto {
    /* border: solid 2px blue; */

    padding: 0 100px;
}

/* RODAPÉ */

footer {
    background-color: #ddcfb2ff;
    padding: 5px 50px;
}

.space {
    display: flex;
    justify-content: space-between;
}

.rodape_pascom img {
    height: 50px;
}

.endereco {
    text-align: center;
}