/* CONFIGURAÇÃO  GERAL */
body {
    background: #ffffff;
    height: 100vh;
    color: #311700ff;
    font-size: 14px;
  }
  
  main {
    /*  max-width: 1280px; */
    margin: 0 auto;
    padding: 40px 4%;
  }
  

/* BEM VINDOS */

.bem_vindos h1 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
  }
  
  .bem_vindos p {
    text-align: justify;
    text-indent: 5%;
    line-height: 25px;
  }
  
  .bem_vindos li {
    line-height: 25px;
  }
  
  .bem_vindos {
    padding: 50px 0;
  }
  
  .bem_vindos h2,
  h3 {
    padding-bottom: 30px;
  }
  
  /* FIM DO BEM-VINDOS */
  
  .Nossas_pastorais h1,
  h2 {
    text-align: center;
  }
  
  .Nossas_pastorais h1{
    font-size: 30px;
    padding: 30px 0;
  }
  
  .Pastorais {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    gap: 30px;
    justify-content: center;
    height: auto;
  
  }
  
  .pastorais1 {
    color: #FFF;
    border: solid 5px #fff;
    background: linear-gradient(149deg, rgba(15,43,202,1) 0%, rgba(6,72,100,1) 99%);
    border-radius: 20px;
    width: 250px;
    text-align: center;
  }
  
  .pastorais1 h2 {
    text-align: center;
    padding: 20px 0;
  
  }
  
  .pastorais1 p {
    padding: 20px;
    text-align: justify;
  
  }
  
  .pastorais1 .solid {
    height: 180px;
  }
  
  .pastorais1 .Pascom {
    height: 180 px;
  }
  
  .pastorais1 .LogoSentinelas{
    height: 180px;
  }
  
  .pastorais1 .logo-catequese{
    height: 180px;
  }

  .Nossos_movimentos h1,
  h2 {
    text-align: center;
  }
  
  .Nossos_movimentos h1{
  padding: 30px 0;
  font-size: 30px;
  }
  
  .Movimentos {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    gap: 30px;
    justify-content: center;
    height: auto;
  }
  
  .movimentos1 {
    border: solid 5px #311700ff;
    background-color: #ddcfb2ff;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    text-align: center;
  }
  
  .movimentos1 h2 {
    text-align: center;
    padding-bottom: 30px;
  
  }
  
  .movimentos1 p {
    padding: 20px;
    text-align: justify;
  
  }
  
  .movimentos1 .solid {
    height: 180px;
  }
  
  .movimentos1 .Pascom {
    height: 180 px;
  }
  