.galerias-titulos{
    text-align: center;
    padding: 30px 0;
}

.galeria-relacao {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.galeria-relacao .galeria-item{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin: 20px;
    list-style: none;
    text-align: center;
    padding: 15px 0;
}

.Galerias-imagem{
    max-height: 150px;
    max-width: 190px;
    border-radius: 15px;
}