/* HORARIOS E AGENDA */

.informacoes {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
  }
  
  .informacoes .horarios,
  .agenda {
    border-radius: 50px;
    justify-items: auto;
    line-height: 1.3;
   /*  color: #311700ff; */
    width: 30%;
    padding: 20px;
  }
  
  .informacoes .agenda {
    width: 40%;
  }
  
  .informacoes .horarios,
  .agenda h1,
  h2 {
    text-align: center;
    padding: 30px 0 20px 0;
  }
  
  .informacoes .horarios h1 {
    text-align: center;
  }
  
  .informacoes .horarios,
  .agenda p,
  ul {
    text-align: justify;
    padding-left: 20px;
  }
  
  /* O QUE ESTÁ ACONTECENDO */
  
  .acontecendo {
    width: 75%;
    margin: 0 auto;
    border-radius: 50px;
    padding: 20px;
  
  }
  
  .acontecendo h1 {
  
    text-align: center;
    padding: 30px 0;
  }
  
  /* RESPONSIVO */
  
  @media screen and (max-width: 730px) {
  
    .informacoes {
      display: contents;
    }
  
    .informacoes .horarios,
    .agenda {
      width: 75%;
      margin: 0 auto;
      margin: 20px auto;
    }
  
    .informacoes .agenda {
      width: 75%;
    }
  
  }
  