.Apresentacao{
  text-indent: 40px;
}

.Apresentacao h1{
  text-align: center;
  padding: 40px;
}


.Apresentacao h2{
  padding: 40px 0 20px 0;
}

.Apresentacao p{
  text-align: justify;
  line-height: 1.3;
}


.logo-lista{
  text-align: center;
  height: 200px;
  width: 180px;
  border-radius: 30px;
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
}

.links li{
  list-style: none;
}

.logo-link{
  max-width: 150px;
  max-height: 100px;
  padding: 10px;
}






  /* RESPONSIVO */
  
  @media screen and (max-width: 730px) {
  

  
  }
  