@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/* CONFIGURAÇÕES GERAIS */
.layout {
    background: #FFF;
    /* background: red; */
    color: #311700ff;
    padding: 20px 2%;
    font-size: 14px;
}

.cor-fundo {
    background: linear-gradient(149deg, rgb(8, 27, 137) 0%, rgb(3, 60, 84) 99%);
    color: #FFF;
    box-shadow: 3px 8px 10px rgba(0, 0, 255, 0.484);
}




/* CABEÇALHO */
header {
    background: rgb(0, 0, 75);
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: block;
    justify-content: space-between;
    padding-bottom: .5rem;
}

.nav-bar img {
    width: 100%;
}

.nav-list ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

.nav-item {
    margin: 2px 0;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: yellow;
    font-weight: 500;
    padding: 10px 20px;
}

.nav-link:hover {
    color: red;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* RODAPE */

.rodape {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background: rgb(0, 0, 75);
    color: yellow;
}

.rodape #rodape_pascom {
    height: 50px;
}

.rodape .contatos {
    display: flex;
    gap: 5px;
}

.endereco p {
    line-height: normal;
    text-align: center;
}


@media screen and (max-width: 730px) {

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        text-align: center;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }


    .rodape {
        display: block;
        height: auto;
        text-align: center;
        background: rgb(0, 0, 75);
        color: yellow;
        padding: 20px 0 10px 0;
        ;
    }

    .rodape .contatos {
        display: flex;
        gap: 5px;
        justify-content: center;
        padding: 20px 0 10px 0;
    }

    .endereco p {
        line-height: normal;
        text-align: center;
    }

}